.headerTop {
     width: 100%;
}

.preHeader{
    background:url(../Styles/images/noise-soft.png) repeat, -webkit-linear-gradient(top, #F0F0F0 0%,#F0F0F0 100%);
    background:url(../Styles/images/noise-soft.png) repeat, -moz-linear-gradient(top, #F0F0F0 0%,#F0F0F0 100%);
    background:url(../Styles/images/noise-soft.png) repeat, -o-linear-gradient(top, #F0F0F0 0%,#F0F0F0 100%);
    background:url(../Styles/images/noise-soft.png) repeat, -ms-linear-gradient(top, #F0F0F0 0%,#F0F0F0 100%);
    border-bottom: 1px solid #E3DFE3;
    margin-bottom: 2%;
}
.mainHeader {

    overflow:hidden;
    
}

    .mainHeader a {
        
        float:left;
        
    }
        .mainHeader a h1 {
            color: #EC2929;
            font-size:24px;
        }
        @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
            .mainHeader a h1 {
                font-size:25px;
            }
        }

.centralBox{
    float:left;
    margin-top:52px;
    width:700px;
}
.socialBox
{
    outline: 0;
    margin: 0 auto;
    max-width: 450px;
}
    .socialBox a
    {
        margin-right: -15px;
    }
        .socialBox a img
        {
            width: 60%;  
        }

.contactSearchBox{

}

    .contactSearchBox a{
        padding-left: 5px;
        color:#3f4244;
    }

.contactBox {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .contactBox img {
        float: left;
        padding-right: 10px;
    }

    .contactBox strong{
        float: left;
        margin-top: 6px;
        font-size: 16px;
        color: #3f4244;
    }

    @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
        .contactBox p {
            font-size:15px;
        }
    }

.loginIcons {

    padding-left: 7px;
    color:red;
}
.menu {
     margin-top:1%;
     overflow: hidden;
    
}

.register {

    float:right;
    margin-top:50px;
    
}
    .register img {
        float: left;
        padding-right: 10px;
        margin-top: -5px;
    }
    .register #notLogged {
        padding: 3px 3px 4px 3px;
        width: 210px;
    }
    .register #notLogged  a {
        float: left;
        font-weight:700;      
        padding: 5px 15px;
        color:#3f4244;
    }
        .register #notLogged  a:first-child {
            float: left;
            margin-right: 3px;
            border-right: 1px solid #3f4244;
        }

        .register #notLogged a:hover{
            color: #EC2929;
        }

    .register #logged {
        padding-right:50px;
    }
        .register #logged a {
            font-weight: 700;
            color: #3f4244;
            padding-top: 10px;
            padding-right: 5px;
            font-size: 15px;
        }
       @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
        .register #logged a {
            font-size: 14px;
        }
       }
        .register #logged #hiddenOptions p {
            float: left;
            padding-left: 15px;
            padding-top: 5px;
            font-weight: 100;
            text-shadow: none;
            margin: 0;
            font-size: 12px;
        }
        .register #logged #hiddenOptions p:hover {
            color: #EC2929;
        }
        .register #logged #hiddenOptions a {
            padding-left: 15px;
            padding-bottom: 20px;
        }
        .register #logged #hiddenOptions img {
            margin:0;
            padding:0;
            width: 25px;
        }

        .register .hover:hover{
            
            text-decoration: underline;
        }
    .register .clickeable {
        margin-right: 20px;
    }
    .register .clickeable:hover {
        cursor: pointer;
        
    }

    .register ul {
        list-style: none;
    }
    .register ul:first-child > li {
        float: left;
       
        
    }
    .register li ul{
        
       margin-left: -154px;
        margin-top: 45px;
        float: left;
        display: block;
        position: absolute;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        width: 180px;
        background-color: #F0F0F0;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-top: none;
        z-index: 9999;      
    }

    .register h3{
        margin: 0 auto;
        margin-bottom: 1%;
        margin-top: 5%;
        width: 85%;
        padding-bottom: 5px;
        color: #3f4244;
        border-bottom: 1px solid #E3DFE3;
    }

.iconSearchConf {
    position:absolute;
    padding-top:5px;
    padding-left: 15px;
    color: white;
    font-size: 1.5em;
}

    @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
        .iconSearchConf {
            font-size: 1.7em;
        }
    }

.dropCaret {
    position: absolute;
    margin-top: -63px;
    right: 25px;
    font-size: 36px;
    color: #F0F0F0;
}

.caretOuter {
    color: #F0F0F0;
    font-size: 30px;
}



/* Logo */

.logo{
    float: left;
     width:10%;
}
.logo img{
    width: 100%;
}

/*Shopping cart*/
.soppingCart{
    float: left;
    margin-left: 65%;
    padding-top:3px;
}

.soppingCart img{
    width:48px;
    float:left;
}

.soppingCart strong{
   font-size: 16px;
   color: #3f4244;
}

.soppingCart a{
    float: left;
    margin-left: 5px;
}