.cajaPrincipal1 {
    margin-bottom: 20px;
    margin-left:5%;
    margin-right:5%;
    width:70%;
    margin-top:50px;
    font-weight:bold;
    border-radius:10px;
    background:#ededed;
    float:left;
    height:550px;
}

.cajaPrincipal2 {
    margin-bottom: 20px;
    margin-left:10%;
    width:12%;
    margin-top:50px;
    font-weight:bold;
    border-radius:3px;
    background:#ededed;
    height:550px;
    border-radius:10px;
}

.cajonesFlotantes {
    width: 25%;
    margin-right:5%;
    margin-bottom: 20px;
    float: left;
    padding:18px 20px 18px 10px;
    border:1px solid gainsboro;
    border-top:2px solid brown;
    font-size:20px;
    font-weight:normal;
}

.inputDatos {
    padding: 3px;
    width: 100%;
    text-align:center;
}

.anotacionespiepag {
    font-size : 10px;
    margin-left: 10%;
}

.cajaTresBotones {
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:30px;
    width:30%;
    margin-top:30px;
    font-weight:bold;
}

.botonInsertar {
    color:black;
    margin-right:5%;
    cursor:pointer;
    font-size:25px;
}

.botonModificar {
    color:black;
    cursor:pointer;
    font-size:25px;
}

.botonBorrar {
    color:black;
    cursor:pointer;
    font-size:25px; 
    margin-top:80px;
}

.botonInsertar:hover {
    font-weight:bold;
}

.botonModificar:hover {
    font-weight:bold;
}

.botonBorrar:hover {
    font-weight:bold;
}