.cabecera {
    border:0px none white;
    font-size:20px ;
    font-weight:bold;
}
.cajaText {
    border:1px solid grey;
    margin-left: 30px;
    font-weight:bold;
}
.labelCampo {
    border:0px;
    margin-left:20px;
    font-size:14px;
}
