<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="truedrivecars@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="truedrivecars@gmail.com" password="Truedrive1234" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
